<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">basi.play</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/"> Collection <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart"> Cart {{#if user}}<span class="badge badge-success" id="cartCount">{{cartCount}}</span> {{/if}}</a>
                </li>
                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link" href="/orders"> Orders </a>
                </li>
                {{/if}}
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <!-- Example single danger button -->
<div class="btn-group m-2 ">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{#if user}}
    {{user.fullname}}
    {{else}}
    Account
    {{/if}}
  </button>
  <div class="dropdown-menu">
    {{#if user}}
    <a class="dropdown-item" href="/logout">Logout</a>
    <a class="dropdown-item" href="#">Help</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Report</a>
    {{else}}
    <a class="dropdown-item" href="/login">Login</a>
    <a class="dropdown-item" href="/signup">Signup</a>
    <a class="dropdown-item" href="#">Help</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Report</a>
    {{/if}}
    
  </div>
</div>
        </div>
    </nav>
</header>
