<section>
    <div class="container">
        <div class="col-md-12 text-center mt-5">
            <img src="/images/check-circle-order-success.gif" alt="order-success-gif" style="height: 200px; width:200px">
            <h2 class="text-center text-success">Order Completed Successfully</h2>
            <a href="/orders" class="btn btn-success mt-4">Orders</a>
            <a href="/" class="btn btn-success ml-3 mt-4">Home</a>
        </div>
    </div>
</section>